<!-- Info Alert -->
<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="displayAlert">
  <strong><i class="fas fa-info-circle fa-lg"></i> Le mot de passe à été mis à jour !</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card" *ngIf="!isChangePasswordEnable">
  <div class="card-body">
    <h4 class="card-title text-center title">Se connecter a Uparser</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <input type="email" formControlName="email" class="form-control" placeholder="E-mail"
               (focus)="errorMessage = ''"/>
      </div>
      <div class="form-group mb-3">
        <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe"
               (focus)="errorMessage = ''"/>
        <a class="form-text d-flex justify-content-end" (click)="isChangePasswordEnable = true">Mot de passe oublié ?</a>
      </div>
      <p class="text-danger text-center">{{errorMessage}}</p>
      <div class=" form-group d-grid">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
          Connexion
        </button>
      </div>
    </form>
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">ou</span>
    </div>
    <div class="d-grid">
      <button type="button" class="btn btn-outline-primary" routerLink="/register">
        Je m'inscris !
      </button>
    </div>
  </div>
</div>

<div class="card" *ngIf="isChangePasswordEnable">
  <div class="card-header">
    Mot de passe oublié ?
    <i class="fas fa-times fa-pull-right" (click)="isChangePasswordEnable = false"></i>
  </div>
  <div class="card-body">
    <div *ngIf="!isEmailSend && !isCodeVerified">
      <p>Indiquez l'adresse e-mail que vous avez utilisée pour vous inscrire et nous vous enverrons un code.</p>
      <div class="form-group mb-3">
        <input type="email" [(ngModel)]="currentEmail" class="form-control" placeholder="E-mail"/>
      </div>
      <div class="d-grid">
        <button type="button" class="btn btn-primary" (click)="sendEmail()">
          Continuer
        </button>
      </div>
    </div>
    <div *ngIf="isEmailSend">
      <p>Indiquez le code de verification que vous avez reçu a l'addresse e-mail {{currentEmail}}</p>
      <div class="form-group mb-3" >
        <input type="password" [(ngModel)]="verificationCode" class="form-control" placeholder="Entrez le code"
               (focus)="errorMessage = ''; verificationCode =''"/>
      </div>
      <p class="text-danger text-center">{{errorMessage}}</p>
      <div class="d-grid">
        <button type="button" class="btn btn-primary" (click)="verifyUser()">
          Verfier
        </button>
      </div>
    </div>

    <div class="form-group" *ngIf="isCodeVerified">
      <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe"/>
      <div class="d-grid">
        <button type="button" class="btn btn-primary fa-pull-right my-3" (click)="changePassword()"
                [disabled]="!newPassword">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
