<div class="my-3">
  <h1 class="title text-center"><i class="fas fa-terminal"></i> Uparser</h1>
  <h4 class="text-center text-muted">Le marketplace du parsing !</h4>

  <div class="d-flex justify-content-between">
    <div class="card mt-5 box-shadow" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Comment ca marche</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mt-5 box-shadow" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">C'est quoi un parseur ?</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mt-5 box-shadow" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Je suis développeur</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
