<div class="banner">
  <h1 class="title text-center text-white pt-5"><i class="fas fa-terminal"></i> Uparser</h1>
  <h4 class="title text-center text-white-50">Le marketplace du parsing !</h4>

  <div class="container">
    <h1 class="title brand mt-5 text-white">Parse ou convertis tes fichiers via notre plateforme communautaire</h1>
    <button class="btn btn-light" routerLink="/catalogue">Découvrir<i class="fas fa-arrow-right ms-1"></i></button>
  </div>
</div>

<h3 class="title text-center my-3">Le principe</h3>
<div class="d-flex justify-content-between container">
  <div class="card mt-5" style="width: 20rem;">
    <img src="/../../../assets/images/download_icon.svg" class="card-img-top mx-auto d-block">
    <div class="card-body">
      <h5 class="title card-title text-center">Comment ca marche</h5>
      <p class="card-text text-center">
        Selection ton parser dans le catalogue.Ensuite, importe ton fichier sur la plateforme, et enfin clique sur convertir !
      </p>
    </div>
  </div>
  <div class="card mt-5" style="width: 20rem;">
    <img src="/../../../assets/images/parser_icon.svg" class="card-img-top mx-auto d-block">
    <div class="card-body">
      <h5 class="title card-title text-center">C'est quoi un parseur</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mt-5" style="width: 20rem;">
    <img src="/../../../assets/images/code_icon.svg" class="card-img-top mx-auto d-block">
    <div class="card-body">
      <h5 class="title card-title text-center">Je suis développeur</h5>
      <p class="card-text text-center">Les développeur fournissent des codes pour parser ou convertir des données,
      par exemple du Json vers du Xml.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="title text-center my-5">Comment convertir</h3>
  <img src="../../../assets/images/descovery_exemple.png"/>
  <div class="row">
    <p class="col-3 text-center title">Choisie un fichier</p>
    <p class="col-3 text-center title">Choisie une extension</p>
    <p class="col-3 text-center title">Convertie</p>
    <p class="col-3 text-center title">Télécharge</p>
  </div>

  <button type="button" class="btn btn-outline-secondary mt-2" routerLink="/catalogue">
    Je veux découvrir le catalogue<i class="fas fa-arrow-right ms-1"></i>
  </button>
</div>
