.card {
  width: 300px;
  transition: transform 400ms;
}

.card:hover, .card:focus {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
}

.far {
  color: #db202f !important;
}

nav {
  max-width: 300px;
}

input.form-control:focus {
  box-shadow: none;
}
