<!-- Error alert -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
  <strong><i class="fas fa-exclamation-triangle fa-lg"></i> {{errorMessage}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="my-5 container">
  <h2 class="title text-center">Créer son parser</h2>

  <div class="d-flex justify-content-start mt-5">
    <select class="form-select me-4" [(ngModel)]="selectedLang" (change)="updateLang()">
      <option *ngFor="let language of languages">{{language}}</option>
    </select>
    <select class="form-select me-4" [(ngModel)]="selectedTheme" (change)="updateTheme()">
      <option *ngFor="let theme of themes">{{theme}}</option>
    </select>
    <input class="form-control me-4" type="file" (change)="getUploadFile($event)">
    <input class="form-control me-4" type="text" [(ngModel)]="extensionType" placeholder="Extension en sortie">
  </div>

  <hr/>
  <div class="d-flex justify-content-start">
    <div class="form-check me-3 mt-1">
      <input class="form-check-input" type="checkbox" [(ngModel)]="isTestEnable" id=checkbox>
      <label class="form-check-label" for="checkbox">
        Tester sans fichier
      </label>
    </div>

    <select class="form-select mb-1 history" [(ngModel)]="selectedCode" (change)="updateCode()">
      <option *ngFor="let code of codeHistory" [ngValue]="code">{{code.date}}</option>
    </select>
  </div>
  <div class="d-flex justify-content-start">
    <ace-editor #editor></ace-editor>
    <div class="card ms-3">
      <div class="card-body" *ngIf="runnerOutput">
        <div class="mb-2">
          <span class="me-1">stdout :</span>
          <code *ngIf="runnerOutput.stdout">{{runnerOutput.stdout}}</code>
        </div>
        <div class="mb-2">
          <span class="me-1">stderr :</span>
          <code *ngIf="runnerOutput.stderr" style="color:red">{{runnerOutput.stderr}}</code>
        </div>
        <div>
          <span class="me-1">contenue du fichier :</span>
          <code *ngIf="runnerOutput.artifact && runnerOutput.artifact !== 'FILE NOT FOUND ERROR'">
            {{runnerOutput.artifact}}
          </code>
        </div>
      </div>

      <!-- Spinner -->
      <div *ngIf="spinner">
        <div class="text-center mt-5" >
          <div class="spinner-border text-primary" role="status" style="">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <p class="text-center mt-1" *ngIf="isTestEnable === false"><strong>Conversion du fichier...</strong></p>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary my-3" (click)='convertFile()' [disabled]="spinner">Convertir</button>
</div>
