<!-- Error alert -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
  <strong><i class="fas fa-exclamation-triangle fa-lg"></i> {{errorMessage}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="my-5 container">
  <h2 class="title text-center">Créer son parser</h2>

  <div class="d-flex justify-content-center mt-5 mb-2">
    <select class="form-select me-4" [(ngModel)]="selectedLang" (change)="updateLang()">
      <option *ngFor="let language of languages">
        {{language}}
      </option>
    </select>
    <select class="form-select me-4" [(ngModel)]="selectedTheme" (change)="updateTheme()">
      <option *ngFor="let theme of themes">{{theme}}</option>
    </select>
    <div class="upload-btn-wrapper">
      <button class="btn btn-outline-secondary me-4"><i class="fas fa-folder-open me-1"></i>Choisir un fichier</button>
      <input type="file" (change)="getUploadFile($event)"/>
    </div>

    <input class="form-control me-4" type="text" [(ngModel)]="extensionType" placeholder="Extension en sortie"/>
  </div>

  <div class="d-flex justify-content-start">
    <div class="card col-2 header left">
      <div class="card-header">
        <a class="title nav-link active cursor-default">Liste des fichiers</a>
      </div>
      <div class="table-responsive">
        <table class="table table-dark">
          <tbody *ngFor="let file of testFiles">
          <tr style="max-width: 50px">
            <td>{{file.fileName}}</td>
            <td><i class="far fa-eye" data-bs-toggle="modal" data-bs-target="#modal" (click)="openCurrentFile(file)"></i></td>
            <td *ngIf="selectedFile === file" (click)="updateFile(null)"><i class="fas fa-check-square"></i></td>
            <td *ngIf="selectedFile !== file" (click)="updateFile(file)"><i class="far fa-square"></i></td>
            <td (click)="deleteFile(file.id)"><i class="fas fa-times"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card col-6 header">
        <div class="d-flex justify-content-between card-header">
          <div class="btn-group" dropdown [isDisabled]="codeHistory.length === 0">
            <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                    aria-controls="dropdown-animated">
              Historique <span class="caret"></span>
            </button>

            <!-- button delete all history -->
            <button type="button" class="btn btn-outline-danger ms-1" data-bs-toggle="modal"
                    data-bs-target="#modalDelete" [disabled]="codeHistory.length === 0">
              <i class="fas fa-trash-alt"></i>
            </button>

            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
              <span *ngFor="let code of codeHistory">
                <li role="menuitem"><p class="dropdown-item">
                  <span (click)="updateCode(code)">{{code.date | date:'short':'UTC'}}</span>
                  <i class="fas fa-times ms-2" (click)="deleteHistory(code.id)"></i>
                  </p>
                </li>
              </span>
            </ul>
          </div>

          <button type="button" class="btn btn-primary" (click)='convertFile()' [disabled]="spinner">
            <i class="fas fa-play me-1"></i>Executer
          </button>
        </div>

        <ace-editor #editor></ace-editor>
    </div>

    <div class="card output col-4 header right">

      <!-- header -->
      <div class="card-header d-flex justify-content-between">
        <ul class="nav" id="tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link title active" data-bs-toggle="tab" data-bs-target="#console" role="tab" aria-selected="true">
              Console
            </a>
          </li>
          <li class="nav-item title" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#file" role="tab" aria-selected="false">
              Afficher
            </a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-light" (click)="downloadFile()" [disabled]="!runnerOutput || !runnerOutput.artifact">
          <i class="fas fa-download me-1"></i>Télécharger
        </button>
      </div>

      <!-- Spinner -->
      <div *ngIf="spinner">
        <div class="text-center my-5">
          <div class="spinner-border text-primary" role="status" style="">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <p class="text-center mt-1" *ngIf="selectedFile"><strong>Conversion du fichier...</strong></p>
      </div>

      <!-- content -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="console" role="tabpanel">
          <div class="display-box mx-2">
            <p>stdout</p>
            <div *ngIf="runnerOutput">
              {{runnerOutput.stats.duration}} -
              {{runnerOutput.stats.code_size}} -
              {{runnerOutput.stats.in_size}} -
              {{runnerOutput.stats.out_size}}
            </div>
            <code *ngIf="runnerOutput">{{runnerOutput.stdout}}</code>
          </div>
          <div class="display-box mx-2">
            <hr class="me-2">
            <p>stderr</p>
            <code *ngIf="runnerOutput">{{runnerOutput.stderr}}</code>
          </div>
        </div>

        <div class="tab-pane fade mx-2" id="file" role="tabpanel">
          <p>contenue du fichier</p>
          <code *ngIf="runnerOutput">{{runnerOutput.artifact}}</code>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal File -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="viewCurrentFile">
      <div class="modal-header">
        <h5 class="modal-title title" id="modalLabel">{{viewCurrentFile.fileName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{viewCurrentFile.fileContent}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete History -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title" id="modalContent">Supprimer l'historique</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Etes-vous sûr de vouloir supprimer votre historique ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="deleteAllHistory()">Oui</button>
      </div>
    </div>
  </div>
</div>
